<% provide(:title, 'Editoras') %>
<h1>All editoras</h1>

<%= link_to "New editora", new_editora_path, class: "btn btn-primary btn-large btn-block"  %>

<%= will_paginate %>

<table class="table table-condensed table-hover">
	<thead>
		<th>Descrição</th>
		<th>Cidade</th>
		<th>Ano</th>
		<th colspan="3">Opções</th>
	</thead>
	<tbody>

    <%= render	@editoras %>

	</tbody>
</table>


<%= will_paginate %>
