<% provide(:title, 'New editora') %>
<h1>New editora</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@editora) do |f| %>
      <%= render 'fields', f: f %>
      
      <div class="form-actions">
      	<%= f.submit "Save editora", class: "btn btn-primary" %>
        <%= link_to "Cancel", editoras_path, class: "btn btn-mini" %>
      </div>
      
    <% end %>
  </div>
</div>