<%= provide(:title, @editora.descricao) %>
<p>
	<strong>Descrição:</strong>
	<%= @editora.descricao %>
</p>

<p>
	<strong>Cidade:</strong>
	<%= @editora.cidade %>
</p>

<p>
	<strong>Ano:</strong>
	<%= @editora.ano %>
</p>