<% provide(:title, 'New classificacao') %>
<h1>New classificacao</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@classificacao) do |f| %>
      
      <%= render 'fields', f: f %>
  
      <div class="form-actions">
	      <%= f.submit "Save classificacao", class: "btn btn-primary" %>
	      <%= link_to "Cancel", classificacoes_path, class: "btn btn-mini" %>
      </div>
  
    <% end %>
  </div>
</div>