<tr>
  <td> <%= link_to casa.descricao, casa  %> </td>
  <td> <%= link_to t('views.edit'), edit_casa_path(casa), class: "btn btn-mini btn-primary"  %> </td>
  <td> <%= link_to t('views.destroy'), casa, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: t('views.are_you_sure') } %> </td>
</tr>
