<% provide(:title, 'New casa') %>
<h1>New casa</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@casa) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save casa", class: "btn btn-small btn-primary" %>
      <%= link_to "Cancel", casas_path, class: "btn btn-mini" %>
    <% end %>
  </div>
</div>