<% provide(:title, @casa.descricao ) %>

<p>
	<strong>Descrição:</strong>
	<%= @casa.descricao %>
</p>

<div class="form-actions">
  <%= link_to t('views.new'), new_casa_path, class: "btn btn-primary" %>
  <%= link_to t('views.edit'), edit_casa_path(@casa), class: "btn" %>
  <%= link_to t('views.list'), casas_path, class: "btn" %>
</div>
