<li>
  <%= gravatar_for usuario, size: 52 %>
  <%= link_to usuario.name, usuario %>
  <% if current_user.admin? && !current_user?(usuario) %>
    | <%= link_to "delete", usuario, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
