<tr>
	 <td><%= link_to autor.descricao, autor %></td>
	 <td><%= link_to autor.cutter, autor %></td>
	 <td> <%= link_to "Delete", autor, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "Deseja apagar o autor?" } %> </td>
</tr>