<tr>
  <td> <%= link_to assunto.descricao, assunto  %> </td>
  <td> <%= link_to "Edit", edit_assunto_path(assunto), class: "btn btn-mini btn-primary"  %> </td>
  <td> <%= link_to "Delete", assunto, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "Deseja apagar o assunto?" } %> </td>
</tr>
